@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Cinzel, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("./img/siyuan-g_V2rt6iG7A-unsplash.jpg");
    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 { 
    font-size: 250%; 
    color: #fff;
}

.footer{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #464646;
    min-width: 100%;
    display: flex;
    justify-content: center;    
}

body{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;

}

.content{
    flex-grow: 1;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

.tabcontent {
    padding: 15px;
    animation: fadeEffect 1s;
    display: none;
    font-family: "Roboto Slab", serif;
    background-color: #00000076;
    color: #fcfae2;
  }


#homepg{
    display: block;
}

  
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

nav{
    display: flex;
    justify-content: center;
    min-width: 100vw;
    background-color: #7c7c7c;
}


button {
    font-family: 'Cinzel', serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #7c7c7c;
    border: none;
    padding: 10px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex-grow: 1;
    /* border-radius: 12px; */
}

button:hover, button.active {
    background-color: #4c4c4c6a;
}

header{
    min-width: 100vw;
    background-color: #7c7c7c;
    display: flex;
    flex-direction: column;
    align-items: center ;
}